* {
  color: #fff;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  row-gap: 40px;
  align-items: center;
  justify-items: center;
  justify-content: center;
}

.product-list-container {
  width: 90%;
  margin: 0 auto;
  padding: 20px;
  background-color: #000;
  color: #fff;
  text-align: center;
}

.product-item {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-item h2 {
  color: #d4af37;
}

.product-item img {
  width: 200px;
  height: auto;
  border: 4px solid #d4af37;
  border-radius: 12px;
}

.product-item p {
  color: #fff;
}

.product-item p.description {
  font-family: "Roboto", sans-serif;
}

.product-list-container .price {
  color: red;
}

#root {
  background-color: black;
}

.product-item a {
  cursor: pointer;
  background-color: #d4af37;
  width: 180px; /* Largeur du lien */
  height: 50px; /* Hauteur du lien */
  border-radius: 12px;
  display: flex; /* Utilisation de flexbox pour aligner le contenu verticalement */
  justify-content: center; /* Alignement du contenu horizontalement */
  align-items: center; /* Alignement du contenu verticalement */
  font-size: large;
  text-decoration: none;
}

body,
html {
  background-color: black;
  padding: 0;
  margin: 0;
}

.product-list-container {
  width: 90%;
  margin: 0 auto;
  padding: 20px;
  background-color: #000;
  color: #fff;
}

.product-item {
  margin-bottom: 20px;
}

h1,
h2 {
  font-family: "Montserrat";
  color: #fff;
}

.product-item img {
  width: 100%;
  max-width: 400px;
  height: auto;
  border: 4px solid #d4af37;
  border-radius: 12px;
}

p {
  color: #fff;
  font-family: "Roboto", sans-serif;
  text-align: center;
}

a {
  color: #fff;
}

/* .price {
  color: red;
} */

#root {
  background-color: black;
}

.button {
  background-color: #d4af37;
  color: white;
  padding: 5px 15px;
  border-radius: 5px;
  outline: 0;
  border: 0;
  text-transform: uppercase;
  margin: 10px 0px;
  cursor: pointer;
  box-shadow: 0px 2px 2px lightgray;
  transition: ease background-color 250ms;
  &:hover {
    background-color: #f9ca32;
  }
  &:disabled {
    cursor: default;
    opacity: 0.7;
  }
}

.container {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  border-radius: 10px;
}

.one-product-container {
  border: 4px solid #d4af37;
  border-radius: 12px;
  padding: 1%;
  display: flex;
  justify-content: center;
}

.one-product-container img {
  width: 300px;
  height: 450px;
  border: 4px solid #d4af37;
  border-radius: 12px;
  object-fit: cover;
}

.image-container,
.info-container {
  margin: 2%;
}

.info-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.navbar {
  background-color: #d4af37;
}

.nav-list {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(120px, 1fr)
  ); /* Utilisation de CSS Grid */
  list-style-type: none;
  padding: 0;
}

.nav-list li {
  text-align: center;
}

.lien {
  display: block;
  padding: 10px;
  color: #fff;
  text-decoration: none;
}

.lien:hover {
  background-color: #555;
}

.active {
  font-weight: bolder;
  font-size: large;
}

.special-link {
  color: white; /* Couleur jaune pour l'élément spécial */
  font-size: 40px; /* Taille de police plus grande pour l'élément spécial */
}

.lien:hover,
.special-link:hover {
  color: #ccc;
}
